*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
   display: flex;
   justify-content: center;
   margin:100px 200px;
   gap: 0px;
}
.left{
    width:400px;
    height: 400px;
    background-color: whitesmoke;
    text-align: center;
   padding: 50px;
   
}
.right{
    width:400px;
    height: 400px;
    background-color: orangered;
    text-align: center;
    padding: 120px 30px;    
   
}
h2{
    margin:10px;
}
input{
   margin:5px;
}
.class1{
    letter-spacing: 10px;
    margin: 10px;
}
.class{
    margin:10px;
}
.class2{
    width:120px;
    height:30px;
    padding:10px;
    background-color: tomato;
    border: 1px solid white;
    border-radius:20px;
}